SPRING_PROFILES_ACTIVE=local

POSTGRES_DB=eventforge_admin
POSTGRES_USER=eventforge_admin
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_PORT=5432

GATEWAY_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:5173
IDENTITY_SERVICE_URL=http://localhost:4001
EVENT_SERVICE_URL=http://localhost:4000
REGISTRATION_SERVICE_URL=http://localhost:4002

JWT_SECRET=replace-with-local-development-secret-min-32-chars
JWT_ISSUER=eventforge-local

IDENTITY_SERVICE_PORT=4001
IDENTITY_JWT_SECRET=replace-with-local-identity-secret-min-32-chars
IDENTITY_JWT_ISSUER=eventforge-identity
IDENTITY_JWT_EXPIRATION_MINUTES=60

EVENT_SERVICE_PORT=4000
REGISTRATION_SERVICE_PORT=4002
REGISTRATION_GRPC_PORT=9001

IDENTITY_DB_URL=jdbc:postgresql://localhost:5432/eventforge_identity
IDENTITY_DB_NAME=eventforge_identity
IDENTITY_DB_USERNAME=eventforge_identity_user
IDENTITY_DB_PASSWORD=change-me-local-only

EVENT_DB_URL=jdbc:postgresql://localhost:5432/eventforge_event
EVENT_DB_NAME=eventforge_event
EVENT_DB_USERNAME=eventforge_event_user
EVENT_DB_PASSWORD=change-me-local-only

REGISTRATION_DB_URL=jdbc:postgresql://localhost:5432/eventforge_registration
REGISTRATION_DB_NAME=eventforge_registration
REGISTRATION_DB_USERNAME=eventforge_registration_user
REGISTRATION_DB_PASSWORD=change-me-local-only

NOTIFICATION_DB_URL=jdbc:postgresql://localhost:5432/eventforge_notification
NOTIFICATION_DB_NAME=eventforge_notification
NOTIFICATION_DB_USERNAME=eventforge_notification_user
NOTIFICATION_DB_PASSWORD=change-me-local-only

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=eventforge_local
RABBITMQ_PASSWORD=change-me-local-only

MAILHOG_HOST=localhost
MAILHOG_PORT=1025
MAILHOG_UI_PORT=8025

VITE_API_BASE_URL=http://localhost:8080
DOCKER_IMAGE_TAG=local
K8S_NAMESPACE=eventforge-local
